{
  "tabWidth": 2,
  "useTabs": false,
  "jsxSingleQuote": true,
  "singleQuote": true,
  "bracketSameLine": false,
  "bracketSpacing": true,
  "endOfLine": "crlf",
  "semi": true,
  "singleAttributePerLine": true
}

